# .coveragerc to control coverage.py

#[paths]
#source = src

[run]
omit = src/ast_toolbox/utils/*
branch = true
parallel = true


[report]
omit = src/ast_toolbox/utils/*
       *migrations*
show_missing = true
precision = 2
