# .coveragerc to control coverage.py
#[report]
#branch = True
#include = /examples/*
#          /ast_toolbox/*
#omit =    /ast_toolbox/utils/*

#[paths]
#source = src

[run]
omit = src/ast_toolbox/utils/*
branch = true
#include =
#    src
#    tests
#    examples
parallel = true


[report]
omit = src/ast_toolbox/utils/*
       *migrations*
show_missing = true
precision = 2
#omit = *migrations*
