language: python
dist: xenial
python:
  # We don't actually use the Travis Python, but this keeps it organized.
  - "3.6"
install:
  - sudo apt-get update
  # We do this conditionally because it saves us some downloading if the
  # version is the same.
  - if [[ "$TRAVIS_PYTHON_VERSION" == "2.7" ]]; then
      wget https://repo.continuum.io/miniconda/Miniconda2-latest-Linux-x86_64.sh -O miniconda.sh;
    else
      wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    fi
  - bash miniconda.sh -b -p $HOME/miniconda
  - export PATH="$HOME/miniconda/bin:$PATH"
  - hash -r
  - conda config --set always_yes yes --set changeps1 no
  - conda update -q conda
  # Useful for debugging any issues with conda
  - conda info -a

  # Install garage and dependencies
  - cd Toolbox/garage
  - touch mjkey.txt
  - echo "hello" > mjkey.txt
  - ./scripts/setup_linux.sh --mjkey mjkey.txt --modify-bashrc
  - rm mjkey.txt
  - pip install numpy==1.14.5
  - pip install gym
  - pip install rlgarage

  # Run AST setup
  - cd ../../
  - source setup.sh

script:
  # Your test script goes here
  - python TestCases/validate_install.py
