absl-py==0.9.0
aiohttp==3.6.2
alabaster==0.7.12
appdirs==1.4.4
argon2-cffi==20.1.0
arrow==0.16.0
astor==0.8.1
async-generator==1.10
async-timeout==3.0.1
atari-py==0.1.15
attrs==19.3.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.2.0
beautifulsoup4==4.9.1
berkeleydb==18.1.2
binaryornot==0.4.4
bleach==3.2.1
box2d-py==2.3.8
bresenham==0.2.1
bsddb3==6.2.7
build==0.5.1
bump2version==1.0.0
bumpversion==0.6.0
cached-property==1.5.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
cloudpickle==1.3
colorama==0.4.3
compress-pickle==1.2.0
configparser2==4.0.0
cookiecutter==1.7.2
coverage==5.2.1
cryptography==3.1.1
cycler==0.10.0
dataclasses==0.8
decorator==4.4.2
defusedxml==0.7.1
depq==1.5.5
dill==0.3.3
distlib==0.3.1
docutils==0.16
entrypoints==0.3
fabric==2.5.0
filelock==3.0.12
fire==0.3.1
first==2.0.2
future==0.18.2
fuzzywuzzy==0.18.0
garage==2019.10.1
gast==0.2.2
gensim==3.8.3
glfw==1.12.0
google==3.0.0
google-pasta==0.2.0
grpcio==1.30.0
gym==0.12.4
h5py==2.10.0
hickle==4.0.3
idna==2.10
idna-ssl==1.1.0
imageio==2.9.0
imagesize==1.2.0
importlib-metadata==1.7.0
importlib-resources==3.0.0
iniconfig==1.0.1
invoke==1.4.1
ipykernel==5.5.3
ipython==7.16.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
isort==5.4.2
jedi==0.18.0
jeepney==0.4.3
Jinja2==2.11.2
jinja2-time==0.2.0
jsonschema==3.2.0
jupyter-client==6.1.12
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
Keras-Applications==1.0.8
Keras-Preprocessing==1.1.2
keyring==21.4.0
kiwisolver==1.2.0
Markdown==3.2.2
MarkupSafe==1.1.1
matplotlib==3.3.0
matrix==2.0.1
mistune==0.8.4
more-itertools==8.5.0
msgpack==1.0.0
multidict==4.7.6
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.4
notebook==6.3.0
numpy==1.19.1
opt-einsum==3.3.0
packaging==20.4
pandocfilters==1.4.3
paramiko==2.7.2
parso==0.8.2
Pebble==4.6.0
pep517==0.10.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==7.2.0
pip-tools==6.1.0
pkginfo==1.5.0.1
pluggy==0.13.1
poyo==0.5.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
protobuf==3.12.2
psutil==5.7.2
ptyprocess==0.7.0
py==1.10.0
py-spy==0.3.3
pycparser==2.20
pydot==1.4.1
pyglet==1.3.3
Pygments==2.6.1
PyNaCl==1.4.0
pyparsing==2.4.7
PyPrind==2.11.2
pyrsistent==0.16.0
pytest==6.0.1
pytest-cov==2.10.1
python-dateutil==2.8.1
python-slugify==4.0.1
pytz==2020.1
PyWavelets==1.1.1
PyYAML==5.3.1
pyzmq==22.0.3
ray==0.8.6
readme-renderer==27.0
redis==3.4.1
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
scikit-image==0.17.2
scikit-learn==0.24.0
scipy==1.5.2
SecretStorage==3.1.2
Send2Trash==1.5.0
six==1.15.0
sklearn==0.0
smart-open==5.0.0
snakeviz==2.1.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.2.1
sphinx-rtd-theme==0.5.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphobjinv==2.0.1
tabulate==0.8.7
tensorboard==1.15.0
tensorboardX==2.1
tensorflow==1.15.3
tensorflow-estimator==1.15.1
tensorflow-probability>=0.8.0
termcolor==1.1.0
terminado==0.9.4
testpath==0.4.4
text-unidecode==1.3
threadpoolctl==2.1.0
tifffile==2020.7.24
toml==0.10.1
torch==1.3.0
torchvision==0.4.1
tornado==6.1
tox==3.19.0
tqdm==4.50.2
traitlets==4.3.3
trulens==0.0.6
twine==3.2.0
typing-extensions==3.7.4.2
urllib3==1.25.10
virtualenv
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wrapt==1.12.1
yarl==1.5.0
zipp==3.1.0
